@import"abstracts/mixins";
@import"abstracts/variables";

@import"layout/footer";
@import"layout/grid";
@import"layout/header";

@import"components/slider";
@import"components/popup";
@import"components/carousel";
@import"components/content";
@import"components/clock";

@import"base/animations";
@import"base/base";
@import"base/typography";
@import"base/utilities";




%transition_all_03s {
    transition: all .3s ease;
}

%backface_visibility_hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
}