.footer {
    background-color: $color-grey-dark-3;
    padding: 4rem 0;
    color: $color-grey-light-1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


    @include respond(tab-land) {
        //width < 1200
        flex-direction: column;
    }

    &__link {
        font-weight: 400;
        letter-spacing: 2px;
        text-decoration: none;
        list-style: none;

        &:link,
        &:visited {
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-decoration;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__logo {
        font-size: $main-font-size;
        text-transform: uppercase;
        text-align: center;
        flex-basis: 20%;
        margin-top: -22px;

        span {
            font-size: $second-font-size;
            font-weight: 700;
        }

        @include respond(tab-land) {
            //width < 1200
            order: 1;
            margin: 0 auto;
            margin-bottom: 4rem;
            width: 70%;
        }
    }

    &__navigation {
        border-top: 1px solid $color-decoration;
        padding-top: 2rem;
        letter-spacing: 1px;
        text-align: center;
        font-size: $footer-font-size;
        flex-basis: 40%;

        @include respond(tab-land) {
            //width < 1200
            order: 2;
            margin: 0 auto;
            margin-bottom: 2rem;
            width: 70%;
        }

        .footer__link {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

    &__copyright {
        border-top: 1px solid $color-decoration;
        padding-top: 2rem;
        text-align: center;
        letter-spacing: 1px;
        font-size: $footer-font-size;
        flex-basis: 40%;

        @include respond(tab-land) {
            order: 3;
            width: 70%;
            margin: 0 auto;
        }
    }
}