.header {
    color: #000;
    min-height: 100vh;
    position: relative;
    object-fit: cover;
    object-position: center;
    background: url("../../img/img5.jpg");
    z-index: 999;
    display: grid;
    align-items: center;
    justify-content: start;
    width: 100%;

    background: {
        position: bottom;
        repeat: no-repeat;
        attachment: fixed;
        size: cover;
    }

    @include respond(tab-port) {
        //width < 900
        background-position: calc(100% + 200px);
    }

    &_title {
        margin-left: 20%;
        font-size: $main-font-size;
        width: 100%;

        h5 {
            text-align: end;
        }

        @include respond(tab-port) {
            //width < 900
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }
}