.carousel__container {
    height: 100vh;
    width: 100%;
    display: grid;
    justify-items: center;

    .carousel__title {
        text-align: center;
        font-size: $second-font-size;
        color: $color-decoration;
        margin-top: 50px;
    }

    .carousel__images {
        width: 100%;
        height: 460px;

        .carousel__img {
            cursor: pointer;
            opacity: .8;
        }
    }

    .carousel__text {
        color: #000;
        font-size: $main-font-size;
        text-align: center;
        margin-top: -50px;
    }

    .carousel__nav {
        text-align: center;

        .carousel__button {
            width: 60px;
            height: 60px;
            color: #fff;
            text-align: center;
            background: $color-decoration;
            border: none;
            cursor: pointer;
            border-radius: 50%;
            transition: .2s;
            font-size: xx-large;


            &:focus {
                border: none;
                outline: none;
            }

            &:hover {
                transform: scale(1.1, 1.1);

            }
        }
    }
}