.content {
    background-color: #fafafa;
    width: 100%;
    color: #000;
    display: block;

    &-container {
        padding: 70px 60px;

        @include respond(tab-port) {
            //width < 900
            padding: 20px 20px;
        }

        .content-block {
            display: flex;
            flex-direction: row-reverse;
            height: 50vh;
            align-items: center;
            justify-content: center;

            @include respond(tab-port) {
                //width < 900
                flex-direction: column;
                height: 80vh;
            }

            &__details {
                padding: 60px;
                display: flex;
                flex: 0 0 45%;
                justify-content: center;
                flex-direction: column;
                background-color: #fff;
                height: 80%;
                position: relative;
                left: -50px;
                box-shadow: 0 20px 40px -10px #818181;
                border-right: 3px solid $color-decoration;
                border-left: 3px solid $color-decoration;

                @include respond(tab-port) {
                    //width < 900
                    left: 0;
                    height: 50vh;
                    padding: 20px;
                }

                p {
                    font-weight: 400;
                    margin-bottom: 20px;
                    font-size: 20px;
                    line-height: 28px;
                }

                h2 {
                    text-transform: capitalize;
                    font-size: 40px;
                    line-height: 76px;
                }

                &__dek {
                    margin-top: 75px;

                    p {
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }

            .position {
                left: 50px;

                @include respond(tab-port) {
                    //width < 900
                    left: 0px;
                }
            }

            &__media {
                height: 100%;

                img {
                    height: 100%;
                    display: flex;
                    flex: 0 0 55%;
                    align-items: center;
                    background-size: cover;
                    box-shadow: 0 20px 40px -10px #818181;

                    @include respond(tab-port) {
                        //width < 900
                        max-height: 40vh;
                        max-width: 100%;
                    }
                }
            }
        }

        .contente-block__revers {
            @include respond(tab-port) {
                //width < 900
                flex-direction: column-reverse;
            }
        }
    }

    &-container:nth-child(2) {
        padding: 0 60px;

        @include respond(tab-port) {
            //width < 900
            padding: 20px 20px;
        }
    }
}