.content {
    background-color: #fafafa;
    width: 100%;
    color: #000;

    &-container {
        padding: 70px 60px;

        @include respond(tab-port) {
            //width < 900
            padding: 20px 20px;
        }

        .content-block {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            height: 50vh;
            width: 100%;

            @include respond(tab-port) {
                //width < 900
                flex-direction: column;
                height: 80vh;
            }

            &__details {
                padding: 60px;
                display: flex;
                flex: 0 0 45%;
                justify-content: center;
                flex-direction: column;
                background-color: #fff;
                height: 80%;
                position: relative;
                left: -50px;
                box-shadow: 0 20px 40px -10px #818181;
                border-right: 3px solid $color-decoration;
                border-left: 3px solid $color-decoration;
                position: relative;
                z-index: 9999999;

                @include respond(tab-land) {
                    //width < 1200
                    padding: 0 20px;
                    height: 60%;
                }

                @include respond(tab-port) {
                    //width < 900
                    left: 0;
                    height: 50vh;
                    padding: 20px;
                }

                p {
                    font-weight: 400;
                    margin-bottom: 20px;
                    font-size: $third-font-size;
                    line-height: 28px;
                }

                h2 {
                    text-transform: capitalize;
                    font-size: $second-font-size;
                    line-height: 76px;
                }

                &__dek {
                    margin-top: 75px;

                    p {
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }

            .position {
                left: 50px;

                @include respond(tab-port) {
                    //width < 900
                    left: 0px;
                }
            }

            &__media {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                @include respond(tab-port) {
                    //width < 900
                    margin-top: -120px;
                    position: relative;
                    z-index: 99999;
                }

                img {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex: 0 0 55%;
                    align-items: center;
                    background-size: cover;
                    box-shadow: 0 20px 40px -10px #818181;

                    background: {
                        repeat: no-repeat;
                        attachment: fixed;
                        size: cover;
                    }

                    @include respond(tab-land) {
                        //width < 1200
                        height: 80%;
                    }

                    @include respond(tab-port) {
                        //width < 900
                        max-height: 40vh;
                        max-width: 100%;
                        // margin-top: -150px;
                        // position: relative;
                        // z-index: 99999;
                    }
                }
            }
        }

        .contente-block__revers {
            @include respond(tab-port) {
                //width < 900
                flex-direction: column-reverse;
            }
        }
    }

    &-container:nth-child(2) {

        padding: 0 60px;

        @include respond(tab-land) {
            //width < 1200
            padding: 0;
        }

        @include respond(tab-port) {
            //width < 900
            padding: 20px 20px;
        }
    }
}