.navbar {
    background-color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    @include respond(phone-large) {
        //width < 800
        padding: 0;
    }

    a {
        text-decoration: none;
        color: $color-decoration;
        font-weight: bold;
        font-size: 22px;


        &.navbar_brand {
            float: left;
            height: inherit;
            line-height: inherit;
            padding: 0 30px;
            font-size: 22px;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 2px;

            span {
                font-size: 28px;
                font-weight: 700;
            }
        }
    }

    ul {
        float: right;
        list-style: none;
        height: inherit;
        line-height: inherit;
        padding: 0 50px;



        @include respond(tab-port) {
            //width < 900
            padding: 0 10px;
        }

        @include respond(phone-large) {
            //width < 800
            width: 100%;
            padding: 0;
            background-color: rgba(0, 0, 0, 0.9);
            height: 100vh;
            max-height: 0;
            overflow: hidden;
            transition: all ease-in-out 0.3s;
            position: relative;
            z-index: 99999999;
        }

        li {
            display: inline-block;

            @include respond(phone-large) {
                //width < 800
                width: 100%;
            }

            a {
                display: block;
                text-align: center;
                min-width: 120px;
                padding: 0 30px;

                &:hover {
                    border-bottom: #e27916;
                }

                @include respond(tab-port) {
                    //width < 900
                    min-width: 100px;
                    padding: 0 20px;
                }

                @include respond(phone-large) {
                    //width < 800
                    padding: 10px 0;
                    font-size: 30px;

                }
            }
        }
    }

    .open {
        max-height: 100vh;
        padding-top: 100px;
    }

    &-toggler {
        display: none;

        @include respond(phone-large) {
            //width < 800
            display: block;
            position: absolute;
            height: 40px;
            top: 20px;
            right: 20px;
            background-color: transparent;
            color: $color-decoration;
            border: 3px solid $color-decoration;
            border-radius: 5px;
            outline: none;
            padding: 0 5px;
            cursor: pointer;
        }

        span,
        span::before,
        span::after {
            display: block;
            content: '';
            background-color: $color-decoration;
            height: 3px;
            width: 28px;
            border-radius: 4px;
            transition: all ease-in-out 0.3s;

        }

        span::before {
            transform: translateY(-8px);
        }

        span::after {
            transform: translateY(5px);
        }
    }
}


@media (max-width: 800px) {

    // .navbar ul.open {
    //     max-height: 100vh;
    //     padding-top: 100px;
    // }

    .navbar .navbar-toggler.open-navbar-toggler span {
        /* transform: rotate(90deg); */
        background-color: transparent;
        /* transform: scale(0.85) rotate(270deg); */
    }

    .navbar .navbar-toggler.open-navbar-toggler span::before {
        transform: translateY(0px) rotate(45deg);
        /* transform: translateY(0px) scale(0.75) rotate(45deg); */
    }

    .navbar .navbar-toggler.open-navbar-toggler span::after {
        transform: translateY(-3px) rotate(-45deg);
        /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
    }
}