.navbar {
    width: 100%;
    line-height: 80px;
    font-size: 30px;
    padding: 20px 20px;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: end;

    @include respond(phone-large) {
        padding: 0;
    }

    ul {
        list-style: none;
        text-align: center;

        @include respond(phone-large) {
            width: 100%;
            padding: 0;
            background-color: rgba(0, 0, 0, 0.9);
            height: 100vh;
            max-height: 100vh;
            overflow: hidden;
            transition: all ease-in-out .3s;
        }

        @include respond(tab-port) {
            padding: 0 10px;
        }

        .open {
            @include respond(phone-large) {
                max-height: 100vh;
            }
        }

        li {
            display: inline-block;

            @include respond(phone-large) {
                width: 100%;
                border-bottom: 1px solid #fff;
            }

            a {
                text-decoration: none;
                text-align: center;
                padding: 5px 10px;
                color: #c2682f;


                @include respond(phone-large) {
                    padding: 0;
                    color: #fff;
                }

                @include respond(tab-port) {
                    min-width: 100px;
                    padding: 0 20px;
                }

                &:hover {
                    border-bottom: 2px solid #ed6510;
                }
            }
        }

    }

    &_toggler {
        display: none;

        @include respond(phone-large) {
            display: block;
            position: absolute;
            height: 40px;
            top: 20px;
            right: 20px;
            background-color: transparent;
            color: #fff;
            border: 3px solid #fff;
            outline: none;
            padding: 0 5px;
            cursor: pointer;
        }

        span {
            font-size: 30px;
            font-weight: 700;

        }

        span,
        span::before,
        span::after {
            display: block;
            content: '';
            background-color: #fff;
            height: 3px;
            width: 28px;
            border-radius: 4px;
            transition: all ease-in-out 0.3s;
        }

        span::before {
            transform: translateY(-8px);
        }

        span::after {
            transform: translateY(5px);
        }


    }
}