//-------------------------
.popup__footer {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#000, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;


    @supports((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target .popup__content {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }

    .popup__content {
        @include absCenter;

        width: 75%;
        background-color: $color-white;
        -webkit-box-shadow: 0 2rem 4rem rgba($color-black, .2);
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(.25);
        transform: translate(-50%, -50%) scale(.25);
        -webkit-transition: all .5s .2s;
        transition: all .5s .2s;

        @include respond(phone-medium) {
            //width < 740
            display: block;
            text-align: center;
        }


        .popup__left {
            width: 33.333333%;
            display: table-cell;

            .popup__img {
                display: block;
                width: 100%;
            }

            @include respond(phone-medium) {
                //width < 740
                display: flex;
                width: 100%;
            }

        }

        .popup__right {
            width: 66.6666667%;
            display: table-cell;
            vertical-align: middle;
            padding: 3rem 5rem;

            .popup__close {

                &:link,
                &:visited {
                    color: $color-primary;
                    position: absolute;
                    top: 2rem;
                    right: 3rem;
                    font-size: 7rem;
                    text-decoration: none;
                    display: inline-block;
                    -webkit-transition: all .2s;
                    transition: all .2s;
                    line-height: 1;
                }

                &:hover {
                    color: $color-decoration;
                }
            }

            .heading__secondary {
                font-size: 3.5rem;
                text-transform: uppercase;
                font-weight: 700;
                display: inline-block;
                background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
                -webkit-background-clip: text;
                color: transparent;
                letter-spacing: .2rem;
                transition: all .2s;
                margin-bottom: 4rem;

                @include respond(tab-port) {
                    font-size: 3rem;
                    margin-top: 5rem;
                    margin-bottom: 3rem;

                }

                @include respond(phone) {
                    font-size: 2.5rem;
                }

                &:hover {
                    transform: skewY(2deg) skewX(15deg);
                    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
                }
            }

            .heading__tertiary {
                font-size: $default-font-size;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 1.5rem;
            }

            .popup__text {
                font-size: 1.4rem;
                margin-bottom: 4rem;
                -webkit-column-count: 2;
                column-count: 2;
                -webkit-column-gap: 4rem;
                column-gap: 4rem; // 1em = 14px bo tak ustalilismy w font-size
                -moz-column-rule: 2px solid $color-grey-light-2;
                -webkit-column-rule: 2px solid $color-grey-light-2;
                column-rule: 2px solid $color-grey-light-2;
                -webkit-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
            }
        }
    }
}